---
import Layout from "../../layouts/Layout.astro";
import Hero from "../../components/Hero.astro";
import MainProduct from "../../components/MainProduct.astro";
import StatsStrip from "../../components/StatsStrip.astro";
import AiCodingPlaybook from "../../components/AiCodingPlaybook.astro";
import UpstreamContributions from "../../components/UpstreamContributions.astro";
import Footer from "../../components/Footer.astro";
---

<Layout lang="zh">
  <main id="main">
    <Hero lang="zh" />
    <StatsStrip lang="zh" />
    <MainProduct lang="zh" />
    <AiCodingPlaybook lang="zh" />
    <UpstreamContributions lang="zh" />
  </main>
  <Footer lang="zh" />
</Layout>
