---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import MainProduct from "../components/MainProduct.astro";
import AiCodingPlaybook from "../components/AiCodingPlaybook.astro";
import UpstreamContributions from "../components/UpstreamContributions.astro";
import Footer from "../components/Footer.astro";
---

<Layout lang="en">
  <main id="main">
    <Hero lang="en" />
    <MainProduct lang="en" />
    <AiCodingPlaybook lang="en" />
    <UpstreamContributions lang="en" />
  </main>
  <Footer lang="en" />
</Layout>
