---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import WhatIBuild from "../components/WhatIBuild.astro";
import ProjectGrid from "../components/ProjectGrid.astro";
import UpstreamContributions from "../components/UpstreamContributions.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <main id="main">
    <Hero />
    <WhatIBuild />
    <ProjectGrid />
    <UpstreamContributions />
  </main>
  <Footer />
</Layout>
